# Cloudflare
CLOUDFLARE_API_TOKEN=

# MongoDB (UniFi)
MONGO_USER=
MONGO_PASS=

# AdGuard Home
ADGUARD_USERNAME=
ADGUARD_PASSWORD=

# Grafana
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

# InfluxDB
INFLUXDB_ADMIN_TOKEN=
INFLUXDB_INIT_USERNAME=
INFLUXDB_INIT_PASSWORD=

# Uptime Kuma (AutoKuma)
AUTOKUMA_USERNAME=
AUTOKUMA_PASSWORD=

# Ntfy
NTFY_TOKEN=

# Tailscale
TS_AUTHKEY=

# OpenCode
OPENCODE_PASSWORD=

# Speedtest Tracker
SPEEDTEST_API_KEY=
SPEEDTEST_APP_KEY=
